<div class="flex-container" fxLayout="column" fxLayoutAlign="center">
  <mat-card class="home-card" fxFlex>
    <mat-card-header>
      <mat-card-title>O que é o IMC?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        O Índice de Massa Corporal (IMC) é uma medida usada para avaliar o peso
        corporal de uma pessoa em relação à sua altura. Ele é calculado
        dividindo o peso da pessoa (em quilogramma) pela altura (em metros) ao
        quadrado. O resultado é uma medida em que o peso ideal é considerado
        entre 18,5 e 24,9.
      </p>
      <p>
        O IMC é uma medida amplamente utilizada porque é fácil de calcular e
        fornece uma estimativa rápida do peso ideal. No entanto, ele não leva em
        consideração a composição corporal e pode ser menos preciso em pessoas
        muito musculosas ou muito magras.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-divider></mat-divider>

  <mat-card class="home-card" fxFlex>
    <mat-card-header>
      <mat-card-title
        >Por que é importante manter o IMC no nível "saudável"?</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <p>
        Manter o IMC no nível "saudável" é importante porque está associado a um
        risco mais baixo de problemas de saúde, como doenças cardíacas, diabetes
        e pressão alta. Pessoas com IMC abaixo do peso ideal também podem ter
        problemas de saúde, enquanto pessoas com IMC acima do peso ideal têm um
        risco ainda maior de problemas de saúde.
      </p>
      <mat-grid-list
        cols="2"
        rowHeight="100px"
        fxLayout="row"
        fxLayoutAlign="center"
      >
        <mat-grid-tile fxFlex>
          <mat-card>
            <mat-card-header>
              <mat-card-title>IMC Abaixo do Peso Ideal</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Pessoas com IMC abaixo do peso ideal podem ter um risco
                aumentado de problemas de saúde, como infecções e doenças
                ósseas. Elas também podem ter problemas de fertilidade e uma
                menor resistência a doenças.
              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile fxFlex>
          <mat-card>
            <mat-card-header>
              <mat-card-title>IMC Acima do Peso Ideal</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Pessoas com IMC acima do peso ideal têm um risco aumentado de
                problemas de saúde, como doenças cardíacas, diabetes e pressão
                alta. Elas também podem ter problemas com a mobilidade e um
                maior risco de dor nas articulações.
              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>

  <mat-divider></mat-divider>

  <mat-card class="home-card" fxFlex>
    <mat-card-header>
      <mat-card-title>Como calcular o IMC?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>O IMC pode ser calculado facilmente usando a seguinte fórmula:</p>
      <pre>
              IMC = peso (kg) / altura (m)^2
                    </pre
      >
      <p>
        Por exemplo, se uma pessoa tem um peso de 70 kg e uma altura de 1,75 m,
        o seu IMC seria:
      </p>
      <pre>
              IMC = 70 / (1.75)^2
                   = 70 / 3.0625
                   = 22.9
                    </pre
      >
      <p>
        Neste caso, o IMC da pessoa é 22.9, o que significa que está no peso
        ideal.
      </p>
    </mat-card-content>
  </mat-card>
</div>
